* {
  text-align: center;
  font-family: "Arial"
}

body {
  padding: 20px 40px;
  font-family: "Verdana";
}

h1 {
  margin: 20px;
}

h3 {
  font-size: 12; 
  padding: 40px
}


button {
  background-color: lightblue;
  height: 100px;
  width: 100px;
  font-size: 30
}

.resetButton{
  height: 50px;
  width: 100px;
  font-size: 20
}
