* {
  text-align: center;
  font-family: "Courier"
}

body {
  padding: 20px 40px;
  font-family: "Verdana";
}

h1 {
  margin: 20px;
}

button {
  background-color: lightblue;
  height: 100px;
  width: 100px;
  font-size: 30
}

.resetButton{
  height: 50px;
  width: 100px;
  font-size: 20
}
